/**
 * Sitemap styles
 */

.sitemap {
  h2 {
    color: $brand-primary;
    text-transform: none;
  }

  .nested-link {
    margin-left: 5px;
    i {
      font-size: 15px;
      vertical-align: -3px;
    }
    &:not(.collapsed) i:before {
      content: "\ec37";
    }
  }

  @include media-breakpoint-up(md) {
    div > ul {
      > li > .nested-link, > li > ul > li > .nested-link {
        display: none;
      }
      > li > ul, > li > ul > li > ul {
        display: block !important;
      }
    }
  }
}
