#ps-image-slider {
  figure {
    margin: 0;
    figcaption {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 65%;
      left: 7%;
      .ps-image-slider-title {
        display: none;
      }
    }
  }
}